@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
#root {
  padding: 0;
  max-width: none;
  overflow: hidden !important;
  text-align: center;
}
.text-primary {
  color: #4097db;
}
.bg-primary {
  background-color: #4097db;
}
